.biodata-wrap {
  display: flex;
  margin: 10px 0;
}
.biodata-title {
  width: 150px;
}
.biodata-header {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 26px;
}
.blajar-form_header {
  text-align: center;
}
.biodata,
.resolusi {
  border: 1px solid black;
  margin: 20px;
  padding: 10px;
}
